﻿
@{
    ViewBag.title = "Index";
    Layout = "~/Views/Shares/layout.cshtml";
}
﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="CSS/myCSS.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact left">
                <a>0283000111(HN)- </a>
                <a>0283000111(TP.HCM)</a>
                <button>contact ads </button>
                <button style="background-color:blue">like </button>
                <button style="background-color:deepskyblue">follow </button>
                <button style="background-color:red">YTB </button>
            </div>
            <div class="login-right">
                <button>log in </button>
                <button>log out </button>
                <input placeholder="find"
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-left">
            <img src="images/Logo_Vnexpress.png" />
        </div>
        <div class="contact-mid">
            <img src="images/banner-ads-1.png" />
        </div>
        <div class="contact-right">
            <img src="images/banner-ads-2.png" />
        </div>
    </div>
    <div class="container">
        <button>Home</button>
        <button>Thời sự</button>
        <button>Thế giới</button>
        <button>Kinh doanh</button>
        <button>Giải trí</button>
        <button>Thể thao</button>
        <button>Pháp luật</button>
        <button>Giáo dục</button>
        <button>Sức khỏe</button>
        <button>Gia đình </button>
        <button>Du lịch</button>
        <button>Khoa học</button>
        <button>Số hóa</button>
        <button>Xe</button>
        <button>Cộng đồng</button>
        <button>Tâm sự</button>
        <button>Video</button>
        <button>Cười</button>
        <button>Rao vặt</button>
    </div>
    <div class="body-content">
        <div class="body-left">
            <div class="body-left-content-left">
                <div class="body-left-header-left">
                    <div class="header-content">
                        <h3>Trang nhất</h3>
                    </div>
                </div>

                <img src="images/thumnails.png" />
                <h2>Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên <i></i> <i></i> <i></i> </h2>
                <p>Hai ứng viên chạy đua tranh chức tổng thống mỹ ...</p>
            </div>
            <div class="body-left-content-right">
                <div class="body-left-header-right">
                    <i>English</i>
                </div>
                <div class="content-in-right">
                    <ul>Đài loan đóng cửa trường vì bão</ul>
                    <ul>Những đứa trẻ sống vắt vẻo trên cầu</ul>
                    <ul>tại sao hoàn hảo vẫn ly dị</ul>
                    <ul>lỗ hỏng ios giúp hacker</ul>
                    <ul>Thông tin tỷ đô tại VN</ul>
                </div>
                <div class="footer-right">
                    <h3>Góc nhìn</h3>
                    <strong class="tittle">
                        'Thất thủ trước cơn mưa'
                    </strong>
                    <img src="https://vnn-imgs-a1.vgcloud.vn/icdn.dantri.com.vn/2021/12/24/roiloantamlythuonggaponamgioimanduc1-1640357345683.jpg" alt="Alternate Text" />

                    <p>
                        Hàng triệu người bất lực trước cơn mưa hay điều gì ?
                    </p>
                </div>
            </div>
        </div>

        <div class="body-right">
            <div class="body-right-head">
                <h6 class="date">Thứ ba, 27/02/2024 | 9:16 GMT+7</h6>
                <a>24h qua</a>
                <a class="2">RSS</a>
            </div>
            <div class="body-right-ads1">
                <img src="images/right-ads-1.png" />
            </div>
            <div class="body-right-ads2">
                <img src="images/right-ads-2.png" />
            </div>
            <div class="body-right-ads3">
                <img src="images/right-ads-3.png" />
            </div>
        </div>
    </div>

</body>
</html>