﻿
@{
    ViewBag.title = "QuangCao";
    Layout = "~/Views/Shares/layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuangCao</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
